---
import styles from "./Block.module.scss";
import Heading from "../Heading.astro";
import Link from "../Link/Link.astro";

const { title, description, href } = Astro.props;
---

<div class={styles.block}>
  <Heading tag="h2" text={title} class={styles.title} />
  <p class="description">
    {description}
  </p>
  <Link
    href="#"
    text="who we are"
    type="secondary"
    color="black"
    class={styles.link}
  />
</div>
