---
import Image from "astro/components/Image.astro";
import styles from "./Rivers.module.scss";

const { columns } = Astro.props;
---

<div class={styles.rivers}>
  <h3 class={styles["rivers__title"]}>Visited Rivers:</h3>
  <div class={styles["rivers__boxes"]}>
    {
      columns?.map(({ river, img, texts, href }) => {
        return (
          <div class={styles.column}>
            <a class={styles["box"]} href={href}>
              <span class={styles["box__text"]}>{river}</span>
              <Image
                class={styles["box__image"]}
                src={img}
                alt="img"
                width={500}
                height={500}
              />
            </a>
            {texts.map((text: string) => {
              return <p>{text}</p>;
            })}
          </div>
        );
      })
    }
  </div>
</div>
