---
import styles from "./Card.module.scss";
import Image from "astro/components/Image.astro";

const { img, title, copy, href, ...restProps } = Astro.props;
---

<a href={href} target="_blank" class={styles.card} {...restProps}>
  <Image src={img} alt="fishing photo" class={styles.img} />
  <div class={styles.meta}>
    <h3>{title}</h3>
    <p>{copy}</p>
  </div>
</a>
