---
import Link from "../Link/Link.astro";
import styles from "./NavSingle.module.scss";
---

<nav data-nav class={`${styles.nav}`}>
  <a href="/" class={`${styles.link} ${styles.logo} ${styles["logo--desktop"]}`}
    >CollonCuraLodge</a
  >
  <div class={styles["overlay"]}></div>
  <button class={styles.hamburger} data-hamburger>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
  </button>
  <div class={`${styles.menu}`} data-menu>
    <a
      href="/"
      class={`${styles.link} ${styles.logo} ${styles["logo--mobile"]}`}
      >CollonCuraLodge</a
    >
    <ul class={`${styles.list}`} role="list">
      <li>
        <Link href="/#" class={styles.link} text={`lodge`} type="primary" />
        <li>
          <Link href="/#" class={styles.link} text={`Fishing`} type="primary" />
        </li>
        <li>
          <Link href="/#" class={styles.link} text={`Program`} type="primary" />
        </li>
        <li>
          <Link
            href="/about"
            class={styles.link}
            text={`About Us`}
            type="primary"
          />
        </li>
        <li>
          <Link href="/#" class={styles.link} text={`Journal`} type="primary" />
        </li>
      </li>
    </ul>
    <Link
      href={`#contact`}
      text={`contact us`}
      type="secondary"
      class={styles.contact}
    />
  </div>
</nav>
