---
import Heading from "./Heading.astro";
import Slide from "./Slide/Slide.astro";
import ImageOptimized from "./Image/ImageOptimized.astro";

import Link from "./Link/Link.astro";
import Carousel from "./Carousel/Carousel.astro";



const { title, images, prehead, copy, button = false, className } = Astro.props;
---

<section class={`${className}`}>
  <div class={`container`}>
    <div class="background">
      <Carousel cards={images}>
        {images.map(({desktop, mobile}) => {
          const mobileImage = mobile || desktop;
          return (
            <Slide>
              <ImageOptimized desktopImgUrl={desktop} mobileImgUrl={mobileImage} alt="pepe"  />
            </Slide>
          );
        })}
      </Carousel>
    </div>
    <div class="overlay"></div>
    <div class:list={["content"]}>
      <div>
      {
        prehead && (
          <p class='prehead' data-aos="fade-up">
            {prehead}
          </p>
        )
      }
      <Heading text={title} tag={"h1"} class="title" data-aos="fade-up" />
    </div>
      {
        copy && (
          <p class='copy' data-aos="fade-up">
            {copy}
          </p>
        )
      }
      {button && (
        <Link
          href={`#contact`}
          text={`start you adventure`}
          type={"secondary"}
          data-aos="fade-up"
          data-aos-delay="300"
        />
      )}
    </div>
  </div>
</section>

<style lang="scss">
  section {
    min-height: 300px;
    padding: 200px 0 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1000px) {
      padding: 300px 0 200px;
    }

    &.sm {
      padding: 100px 0;

      @media (min-width: 1000px) {
        padding: 200px 0;
      }
    }

    &.height-big {
      min-height: 500px;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .prehead {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  .copy {
      margin: 0 auto;
      max-width: 800px;
      color: white;
  }
</style>
