---
import Link from "../Link/Link.astro";
import styles from "./Nav.module.scss";
import Image from "astro/components/Image.astro";
---

<nav data-nav class={`${styles.nav}`}>
  <a
    href="/"
    class={`${styles.link} ${styles.logo} ${styles["logo--desktop"]}`}
  >
    <Image
      src={`/patagon-menu.png`}
      alt="fishing photo"
      class={styles.img}
      width={529}
      height={247}
    /></a
  >
  <div class={styles["overlay"]}></div>
  <button class={styles.hamburger} data-hamburger>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
  </button>
  <div class={`${styles.menu}`} data-menu>
    <a
      href="/"
      class={`${styles.link} ${styles.logo} ${styles["logo--mobile"]}`}
    >
      <Image
        src={`/patagon-menu.png`}
        alt="fishing photo"
        class={styles.img}
        width={529}
        height={247}
      />
    </a>
    <ul class={`${styles.list}`} role="list">
      <li class={styles["list__item"]}>
        <Link
          href="#program"
          class={styles.link}
          text={`Program`}
          type="primary"
        />
        <div class={styles.dropdown}>
          <ul class={styles.submenu}>
            <li class={styles["submenu__item"]}>
              <span>Northern Patagonia</span>
              <ul class={styles["tertiary-menu"]}>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                  href="/programs/twin-river-float"
                  class={styles.link}
                  text={`Twin River Float`}
                  type="primary"
                  />
                </li>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/programs/the-10-day-tour"
                    class={styles.link}
                    text={`The 10-day Tour`}
                    type="primary"
                  />  
                </li>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/programs/wade-and-float-combo"
                    class={styles.link}
                    text={`Wade & Float Combo`}
                    type="primary"
                  />
                </li>
              </ul>
            </li>
            <li class={styles["submenu__item"]}>
              <Link
                href="/programs/sea-run-brown-trout"
                class={styles.link}
                text={`Sea Run Brown Trout`}
                type="primary"
              />
            </li>
          </ul>
        </div>
      </li>
      <li class={styles["list__item"]}>
        <Link href="#" class={styles.link} text={`Rivers`} type="primary" />
        <div class={`${styles.dropdown} ${styles.test}`}>
          <ul class={styles.submenu}>
            <li class={styles["submenu__item"]}>
              <span>Northern Patagonia</span>
              <ul class={styles["tertiary-menu"]}>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/rivers/collon-cura"
                    class={`${styles.link}`}
                    text={`Collon Cura river`}
                    type="primary"
                  />
                </li>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/rivers/chimehuin"
                    class={`${styles.link}`}
                    text={`chimehuin river`}
                    type="primary"
                  />
                </li>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/rivers/malleo"
                    class={`${styles.link}`}
                    text={`Malleo river`}
                    type="primary"
                  />
                </li>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/rivers/middle-limay"
                    class={`${styles.link}`}
                    text={`Middle Limay river`}
                    type="primary"
                  />
                </li>
              </ul>
            </li>
            <li class={styles["submenu__item"]}>
              <span>Southern Patagonia</span>
              <ul class={styles["tertiary-menu"]}>
                <li class={styles["tertiary-menu__link"]}>
                  <Link
                    href="/rivers/rio-grande"
                    class={`${styles.link}`}
                    text={`Rio Grande river`}
                    type="primary"
                  />
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <Link
          href="/#about-us"
          class={styles.link}
          text={`About Us`}
          type="primary"
        />
      </li>
    </ul>
    <Link
      href={`/#contact`}
      text={`contact us`}
      type="secondary"
      class={styles.contact}
    />
  </div>
</nav>

<script>
  import styles from "./Nav.module.scss";
  const nav = document.querySelector("[data-nav]");
  const hamburger = document.querySelector("[data-hamburger]");
  const menu = document.querySelector("[data-menu]");
  const scrolled = `${styles.scrolled}`;

  window.addEventListener("scroll", (e) => {
    if (window.scrollY > 0) {
      nav.classList.add(scrolled);
    } else {
      nav.classList.remove(scrolled);
    }
  });

  hamburger.addEventListener("click", () => {
    if (menu.classList.contains(`${styles.open}`)) {
      menu.classList.remove(`${styles.open}`);
    } else {
      menu.classList.add(`${styles.open}`);
    }
  });
</script>
