---
import Link from "../Link/Link.astro";
import styles from "./Nav.module.scss";
---

<nav data-nav class={`${styles.nav}`}>
  <a href="/" class={`${styles.link} ${styles.logo} ${styles["logo--desktop"]}`}
    >Patangon Waters</a
  >
  <div class={styles["overlay"]}></div>
  <button class={styles.hamburger} data-hamburger>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
    <div class={styles.bar}></div>
  </button>
  <div class={`${styles.menu}`} data-menu>
    <a
      href="/"
      class={`${styles.link} ${styles.logo} ${styles["logo--mobile"]}`}
      >Patangon Waters</a
    >
    <ul class={`${styles.list}`} role="list">
      <li class={styles["list__item"]}>
        <Link
          href="#program"
          class={styles.link}
          text={`Program`}
          type="primary"
        />
        <div class={styles.dropdown}>
          <ul>
            <li>
              <Link
                href="/programs/twin-river-float"
                class={styles.link}
                text={`Twin River Float`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="#"
                class={styles.link}
                text={`The 10-day Tour`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="#"
                class={styles.link}
                text={`Wade & Float Combo`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="#"
                class={styles.link}
                text={`Sea Brown Trout`}
                type="primary"
              />
            </li>
          </ul>
        </div>
      </li>
      <li class={styles["list__item"]}>
        <Link href="#" class={styles.link} text={`Rivers`} type="primary" />
        <div class={styles.dropdown}>
          <ul>
            <li>
              <Link
                href="/rivers/collon-cura"
                class={styles.link}
                text={`Collon Cura`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="/rivers/chimehuin"
                class={styles.link}
                text={`chimehuin`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="/rivers/malleo"
                class={styles.link}
                text={`Malleo`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="/rivers/middle-limay"
                class={styles.link}
                text={`Middle Limay`}
                type="primary"
              />
            </li>
            <li>
              <Link
                href="/rivers/san-jose"
                class={styles.link}
                text={`San Jose`}
                type="primary"
              />
            </li>
          </ul>
        </div>
      </li>
      <li>
        <Link
          href="/#about-us"
          class={styles.link}
          text={`About Us`}
          type="primary"
        />
      </li>
    </ul>
    <Link
      href={`/#contact`}
      text={`contact us`}
      type="secondary"
      class={styles.contact}
    />
  </div>
</nav>

<script>
  import styles from "./Nav.module.scss";
  const nav = document.querySelector("[data-nav]");
  const hamburger = document.querySelector("[data-hamburger]");
  const menu = document.querySelector("[data-menu]");
  const scrolled = `${styles.scrolled}`;

  window.addEventListener("scroll", (e) => {
    if (window.scrollY > 0) {
      nav.classList.add(scrolled);
    } else {
      nav.classList.remove(scrolled);
    }
  });

  hamburger.addEventListener("click", () => {
    if (menu.classList.contains(`${styles.open}`)) {
      menu.classList.remove(`${styles.open}`);
    } else {
      menu.classList.add(`${styles.open}`);
    }
  });
</script>
